*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
packages/android-auth-1.0
packages/android-sdk-24-noconnect-2.20b
app/release/
*.log
